body {
     font-family: "Source Sans Pro", sans-serif !important;
}

header {
    padding-left: 4em;
    padding-right: 4em;
    padding-top: 1em;
}
canvas {
    z-index: -1;
    height: 100%;
    width: 100%;
    position: relative;
    top: 5.7em;
}

.container-fluid {
    position: relative; 
}

.navbar {
    background-color: #D45C3A;
}

#title {
    color: white;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 100 !important; 
    display: inline-block;
}

.logo {
    display: inline-block;
}

.nav-menu {
 display: inline-block;
    padding-right: 3em;
    color: white;
}

.map-modes {
   position: absolute;
    z-index: 2;
    top: 8em;
}

#key {
    border-radius: 25px;
    background-color: white;
    border: 2px solid #D45C3A; 
    color: #D45C3A;
    margin-left: 5em;
}

#key:hover {
    border-radius: 25px;
    background-color: #D45C3A;
    border: 2px solid #D45C3A; 
    color: white;
    margin-left: 5em;
}

#mode {
    color: #D45C3A;
    background-color: white;
    border: none;
    border-radius: 25px;
    
}

#mode:hover {
    color: white;
    background-color:#D45C3A;
    border: none;
    border-radius: 25px;
    
}

.button-wrap {
    border-radius: 25px;
    border: 2px solid #D45C3A; 
    margin-left: 2em;
    background-color: white;
}

.key-div {
    position: absolute;
    background-color: white;
    top: 15em;
    z-index: 2;
    margin-left: 5em; 
}

.map-key {
    background-color: white;
    color: #D45C3A;
    font-weight: 700;
    padding-top: 1em;
    height: 45%;
}