body {
     font-family: "Source Sans Pro", sans-serif !important;
}

header {
    padding-left: 4em;
    padding-right: 4em;
    padding-top: 1em;
}

object {
    z-index: -1;
    position: relative;
    margin: auto;
    display: block;
}

.container-fluid {
    position: relative; 
}
/* Header */
.navbar {
    background-color: #D45C3A;
}

#title {
    color: white;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 100 !important; 
    display: inline-block;
}

.logo {
    display: inline-block;
}

.nav-menu {
 display: inline-block;
    padding-right: 3em;
    color: white;
}
/* Map Buttons: key, existing, proposed */
.map-modes {
   position: fixed;
    z-index: 2;
    top: 8em;
}

#key {
    border-radius: 25px;
    background-color: white;
    border: 2px solid #D45C3A; 
    color: #D45C3A;
    margin-left: 5em;
}

#key:active {
    border-radius: 25px;
    background-color: #D45C3A;
    border: 2px solid #D45C3A; 
    color: white;
    margin-left: 5em;
}

#mode {
    color: #D45C3A;
    background-color: white;
    border: none;
    border-radius: 25px;
    
}

#mode:hover {
    color: white;
    background-color:#D45C3A;
    border: none;
    border-radius: 25px;
    
}

.button-wrap {
    border-radius: 25px;
    border: 2px solid #D45C3A; 
    margin-left: 2em;
    background-color: white;
}
/* Map Key lightbox */
.key-div {
    position: fixed;
    background-color: white;
    border: 2px solid #D45C3A;
    border-radius: 25px;
    top: 15em;
    z-index: 2;
    left: 6em;
}

.map-key {
    background-color: white;
    border-radius: 25px;
    font-weight: 700;
    padding-top: 1em;
    padding-bottom: 0.5em;
}

.map-key li {
    padding-right: 1.5em;
    color: #D45C3A;
} 

.key-img {
    padding-right: 0.5em;
}

.key-div ol li {
    color: #939598;
}

.map-key ul, ol {
    padding-top: 0.7em;
    padding-bottom: 0.7em;
}

/* Zoom buttons */
.zoom {
    right: 5em;
    position: fixed;
    z-index: 2;
    top: 8em;
}

.zoom button {
    display: block;
    margin: 0.5em;
    color: white;
    background-color: #D45C3A;
    padding: 0;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50px;
}

/* Pin Info Lightbox */
.info-div {
    position: fixed;
    background-color: white;
    border: 2px solid #D45C3A;
    top: 18em;
    z-index: 2;
    right: 10em;
    width: 30em;
    height: 45em;
}

.location-info h4, img, p {
    padding-left: 1em;
    padding-right: 1em;
}
.location-info img {
    padding-top: 2em;
}

.location-info button {
    position: absolute; 
    right: auto;
    color: white;
    background-color: #D45C3A;
    padding: 0;
    width: 25px;
    height: 25px;
    line-height: 25px;
    border-radius: 50px;
}

.circle-div {
    position: fixed;
    background-color: white;
    border: 2px solid #D45C3A;
    z-index: 3; 
    top: 18em;
    left: 10em; 
    width: 15em; 
    height: 15em;
    border-radius: 50%;
    
}

.location-image img {
    padding: 1em; 
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    width: 14.5em;
    height: 14.5em;
    display: block;
    opacity: 0.45;
}

.location-image button {
    position: absolute; 
    left: 1.2em;
    color: white;
    background-color: #D45C3A;
    padding: 0;
    margin: auto;
    width: 20px;
    height: 20px;
    line-height: 20px;
    border-radius: 50%;
}
